* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;

}

main {
    background-color: rgb(0, 35, 151);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    margin:2rem;
    color: rgb(255, 255, 255);
}

h1 {
    font-weight: 700;
}



#boxes {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-end;
    margin: 10px;
    flex-wrap: wrap
}

section {
    width: 300px;
    height: 450px;
    background-color: rgb(216, 228, 255);
    ;
    padding: 10px;
    margin: 15px;
    transition: all 1s;

    box-shadow: 2px 2px 2px 2px rgba(186, 202, 255, 0.438);

}

section:hover {
    transition: all 1s;
    background-color: rgb(255, 255, 255);
    transform: translateY(-10px);
    color: black;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 255);

}

.box span {
    font-size: 80px;
}

.box h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.box h3 {
    font-size:2rem;
}

.box h3 span {
    font-size: 10px;
}


.box ul {
    align-items: flex-start;
    font-size: 1em;
    font-weight: 200;
    font-family: serif;
    color: rgb(134, 126, 126);
    margin: 10px 40px;
}

.Personal {
    height: 490px;
    background-color: rgb(109, 80, 255);
    position: relative;
    color: white;
    display: relative;
}

.Personal ul {
    color: white;
}

.Personal:hover {
    color: black;
}

.Personal:hover ul {
    transition: all 1s;
    color: black;
}

.Personal::before {
    content: 'Most Popular';
    width: 50%;
    height: 10px;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    font-size: 10px;
    left: 20%;
    top: 5px;
    color: black;
    background-color: rgb(248, 244, 244);
}


button {
    background-color: rgb(117, 117, 144);
    color: white;
    padding: 4px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin:1rem;
    padding: 10px;

}

button:hover {
    background-color: blue;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
    transition: all 1s;
    outline: 1px solid black;
    padding:5px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: blue;
    color: white;
    padding: 4px 10px;
    transition: all 1s;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: all 1s;
}

@media(max-width:440px) {
    h1 {
        font-size: 10px
    }
}

/* .Personal{
    padding-top:30px
} */